.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: Titillium Web;
}
.filter{
    width: 260px;
    position: sticky;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.148);
}
.productsContainer{
    display: flex;
    padding: 20px 10px;
    flex-wrap: wrap;
    gap: 18px;
    align-items: center;
    justify-content: center;
    flex:1;
    height: 500px;
    overflow: auto;
}
.filterHeader{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 8px 10px;
    font-size: 18px;
    font-weight: 600;
}
.categoryInput{
    outline: none;
    border: none;
    padding: 3px 5px;
}
.category, .subCategory, .sort{
    display: flex;
    flex-direction: column;
}
.category{
    gap: 7px;
}
.subCategory{
    gap:5px;
    display: flex;
    justify-content: center;
}
.subCategory label, .sort label{
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 3px;
}
.subCategory p, .sort p{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}
.s  ort{
    gap: 5px;
}