.main {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    gap: 8px;
    background-color: rgba(0, 0, 0, 0.675);
    padding: 30px 30px;
    border-radius: 20px;
    width: 23rem;

}

.form hr {
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    border:1px solid #e6c058;

}

.form h2 {
    font-size: 1.8rem;
    margin: 0px;
    margin-top: 10px;
    font-family: Righteous;
    font-weight: 300;
        /* margin-bottom: 2px; */
}

.groupField {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 6px 5px;
    font-size: 1rem;
    width: auto !important;
}

.groupField p {
    margin: 0px;
    margin-top: 3px;
    padding: 1px;
    font-size: 12px;
    cursor: pointer;
    color: #e6c058;
    font-family: Titillium Web;

    /* color: #C7AE6A; */
}

.groupField label {
    margin-bottom: 2px;
    font-size: 15px;
    font-family: Titillium Web;
}

.btn {
    padding: 8px 2px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.789);
    color: #d5c28f;
    margin-top: 10px;
    font-family: Righteous;
    font-weight: 300;


}
.btn:hover{
        color: #e6c058;
        cursor: pointer;
}

.form p {
    margin: 0px;
    font-size: 13px;
    font-family: Titillium Web;

}

@media only screen and (max-width:800px){
.form{
    width:70%;
}
}